SECRET=<JWT SECRET KEY>
ADMIN_FIRST_NAME=<Admin first name>
ADMIN_LAST_NAME=<Admin last name>
ADMIN_PASSWORD=<Admin password>
ADMIN_EMAIL=<Admin email>
USER_PASSWORD=<password for the other users to seed>
DATABASE_URL_TEST=<test data base url>
DATABASE_URL_DEV=<development data base url>
DATABASE_URL=<production data base url>
PORT=<port of choice>
NODE_ENV=<your node environment>